[Chewing]
# 選詞鍵
# Available Value:
# 1234567890
# asdfghjkl;
# asdfzxcv89
# asdfjkl789
# aoeuhtn789
# 1234qweras
# dstnaeo789
SelectionKey=asdfghjkl;
# 前方加詞
# Available Value:
# True False
#AddPhraseForward=False
# 後方選擇字詞
# Available Value:
# True False
#ChoiceBackward=True
# 選字完畢自動移到下一個字
# Available Value:
# True False
#AutoShiftCursor=True
# 使用空白鍵選擇候選字詞
# Available Value:
# True False
#SpaceAsSelection=True
# 鍵盤配置
# Available Value:
# Default Keyboard
# Hsu's Keyboard
# IBM Keyboard
# Gin-Yieh Keyboard
# ETen Keyboard
# ETen26 Keyboard
# Dvorak Keyboard
# Dvorak Keyboard with Hsu's support
# DACHEN_CP26 Keyboard
# Han-Yu PinYin Keyboard
# Carpalx Keyboard
#Layout=Default Keyboard

